<h1>Listing entries</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Body</th>
      <!-- <th>Draft</th> -->
      <th>Published at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.subject %></td>
        <td><%= entry.body %></td>
        <td><%= entry.published_at %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <!-- <td><%= entry.draft %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>

<p>Get your drink on responsibly</p>
